<nav class="navbar navbar-fixed-top header">
  <div class="col-md-12">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">El mate: la bebida tradicional</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse1">
      <form class="navbar-form pull-left">
        <div class="input-group" style="max-width:470px;">
          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
          <div class="input-group-btn">
            <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a id="loginButton" href="#loginModal" role="button" data-toggle="modal">Login</a></li>
        <li><a id="signUpButton" href="#signUpModal" role="button" data-toggle="modal">Sign-up</a></li>
      </ul>
    </div>
  </div>
</nav><!-- nav -->

<!--main-->
<div class="container" id="main">
   <div class="row">
     <div class="col-md-4 col-sm-6">
       <div class="panel panel-default">
         <div class="panel-heading"><img src="/woman-55.jpg" class="img-circle pull-right"><h4>Propriedades medicinais</h4></div>
         <div class="panel-body">
           <p><img src="/me-gusta.png" class="pull-right"></p>
           <div class="clearfix"></div>
           <hr>
           Estudos detectaram, na bebida, a presença de muitas vitaminas, como as do complexo B, a vitamina C e a vitamina D, e de sais minerais, como cálcio, manganês e potássio. Combate os radicais livres. Auxilia na digestão e produz efeitos antirreumático, diurético, estimulante e laxante...
         </div>
       </div>

       <div class="panel panel-default">
         <div class="panel-heading"><img src="/man-14.jpg" class="img-circle pull-right"><h4>Où acheter du maté?</h4></div>
         <div class="panel-body">
           <p><img src="/pour.jpg" class="pull-right"></p>
           <div class="clearfix"></div>
           <hr>
           Salut à tous, ma résèrve de maté s'épuise: existe-t-il un site internet où on peut en commander et sinon, dans quelle boutique peut-on en trouver?
         </div>
       </div>

       <div class="panel panel-default">
         <div class="panel-heading"><img src="/man-20.jpg" class="img-circle pull-right"><h4>Posologie du yerba maté</h4></div>
         <div class="panel-body">
           <p><img src="/cups.jpg" class="pull-right"></p>
           <div class="clearfix"></div>
           <hr>
           Il faut généralement une dose d'au moins 60 mg de caféine (l’ingrédient actif principal du maté) pour obtenir un effet notable sur la vigilance et les performances cognitives. Cet effet peut durer quelques heures. Cependant, les grands consommateurs de caféine pourraient avoir besoin de doses plus importantes (200 mg et plus) en raison...
         </div>
       </div>
     </div>

     <div class="col-md-4 col-sm-6">
       <div class="panel panel-default">
         <div class="panel-heading"><img src="/woman-7.jpg" class="img-circle pull-right"><h4>Me gusta el mate...</h4></div>
         <div class="panel-body">
           <p><img src="/trabajo.jpg" class="pull-right"></p>
           <div class="clearfix"></div>
           <hr>
           ...Sin trabajo infantil¡ Lo conseguimos! Se lanzó la Comisión Provincial para la Prevención y Erradicación del Trabajo Infantil (COPRETI) en Misiones, de la cual nosotros formamos parte, tal cual lo pedimos. Lo que se logró hasta ahora es increíble:...
         </div>
       </div>

       <div class="panel panel-default">
         <div class="panel-heading"><img src="/man-21.jpg" class="img-circle pull-right"><h4>What is yerba mate?</h4></div>
         <div class="panel-body">
           <p><img src="/drive.png" class="pull-right"></p>
           <div class="clearfix"></div>
           <hr>
           Hello. I'm a big tea enthusiast and I'm curious about the properties of Yerba Mate South American tea...
         </div>
       </div>

       <div class="panel panel-default">
         <div class="panel-heading"><img src="/man-24.jpg" class="img-circle pull-right"><h4>¿mateína o cafeína?</h4></div>
         <div class="panel-body">
           <p><img src="/mat.gif" class="pull-right"></p>
           <div class="clearfix"></div>
           <hr>
           La yerba mate contiene cafeína en cantidades importantes, así como antioxidantes, potasio, aminoácidos y vitaminas. Los principales beneficios de la yerba mate en la salud son:...
         </div>
       </div>
     </div>


     <div class="col-md-4 col-sm-6">
       <div class="panel panel-default">
         <div class="panel-heading"><img src="/man-4.jpg" class="img-circle pull-right"><h4>Yerba mate to boost energy?</h4></div>
         <div class="panel-body">
           <p><img src="/che.jpg" class="pull-right"></p>
           <div class="clearfix"></div>
           <hr>
           I was wondering if it had caffeine like coffeee & regular tea? And if it does, what kind of caffeine is it? I know that the caffeine in coffee is different from the one in tea...
         </div>
       </div>

       <div class="panel panel-default">
         <div class="panel-heading"><img src="/woman-4.jpg" class="img-circle pull-right"><h4>Preparazione del mate</h4></div>
         <div class="panel-body">
           <p><img src="/zoom.jpg" class="pull-right"></p>
           <div class="clearfix"></div>
           <hr>
           Per la preparazione del mate bisogna avere a disposizione: un mate o porongo, ovvero un apposito recipiente realizzato con una zucca, oppure in legno, oppure in metallo, che viene usato sia per preparare l'infuso, sia per berlo. Quando si compra un mate nuovo è necessario che venga "curato", prima di essere utilizzato;...
         </div>
       </div>

       <div class="panel panel-default">
         <div class="panel-heading"><img src="/woman-1.jpg" class="img-circle pull-right"><h4>Variantes de la infusión</h4></div>
         <div class="panel-body">
           <p><img src="/cultivo.jpg" class="pull-right"></p>
           <div class="clearfix"></div>
           <hr>
           En algunas partes del Cono Sur se prefiere beber el mate amargo, especialmente en Paraguay, Uruguay, sur de Brasil, y partes de Argentina y Bolivia. A ésta acción en Brasil y gran parte de Argentina se le dice «cimarrón», se entiende por esto al mate no endulzado. Muchas personas opinan que el mate debe ser tomado de esta forma, considerando al mate dulce (sea por el agregado de azúcar o de algún otro endulzante) como una especie de profanación. «Cimarrón» era el nombre que se daba antiguamente en el campo al ganado salvaje, especialmente, al caballo, que estaba tan ligado al gaucho...
         </div>
       </div>
     </div>
   </div><!-- row -->
</div><!--/main-->

<!--login modal-->
<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="text-center"><img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"><br>Login</h2>
      </div>
      <div class="modal-body">
        <form class="form col-md-12 center-block">
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-lg" placeholder="Password">
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block">Sign In</button>
            <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--signUp modal-->
<div id="signUpModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="text-center">Sign-up</h2>
      </div><!-- modal-header -->
      <div class="modal-body">
        <div class="col-md-12 text-center">
          <%= form_tag "/welcome/signup" do %>
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-md-4">
                  <div id="ccErrorMsg" hidden="true" class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="text-danger center-block" href="#">Additional verification required</h3>
                      <p>Please choose an alternative payment method for the first month. We will automatically use your credit card for subsequent bill cycles.</p>
                      <hr>

                      <div class="cash">
                        <a href="/boleto.jpg"><img id="boleto" "margin-top: 10px; cursor: pointer; height: 50px; padding-top: 2px; background: url('/pay_near_me_cash.png') no-repeat center" src="/pay_near_me_cash.png" /></a>
                        <a href="http://bitpay.com"><img id="bitpay" "margin-top: 10px; cursor: pointer; height: 50px; padding-top: 2px; background: url('/bitpay.png') no-repeat center" src="/bitpay.png" /></a>
                      </div>
                    </div>
                  </div>
                  <div id="ccPanel" class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">
                        Monthly subscription (CL$ 2999/mo)
                      </h3>
                    </div><!-- panel-heading -->

                    <div class="panel-body">
                      <h3>Profile information</h3>
                      <div class="form-group">
                        <!-- <label for="name">Name</label> -->
                        <div class="input-group">
                          <%= text_field_tag :name, '', :class => 'form-control', :placeholder => 'Full name', :required => false, :autofocus => false %>
                        </div>
                      </div><!-- form-group -->
                      <div class="form-group">
                        <!-- <label for="address1">Address 1</label> -->
                        <div class="input-group">
                          <%= text_field_tag :address1, '', :class => 'form-control', :placeholder => 'Address 1', :required => false, :autofocus => false %>
                        </div>
                      </div><!-- form-group -->
                      <div class="form-group">
                        <!-- <label for="address2">Address 2</label> -->
                        <div class="input-group">
                          <%= text_field_tag :address2, '', :class => 'form-control', :placeholder => 'Address 2', :required => false, :autofocus => false %>
                        </div>
                      </div><!-- form-group -->
                      <div class="form-group">
                        <!-- <label for="zip">Zip</label> -->
                        <div class="input-group">
                          <%= text_field_tag :zip, '', :class => 'form-control', :placeholder => 'Zip', :required => false, :autofocus => false %>
                        </div>
                      </div><!-- form-group -->
                      <div class="form-group">
                        <!-- <label for="city">City</label> -->
                        <div class="input-group">
                          <%= text_field_tag :city, '', :class => 'form-control', :placeholder => 'City', :required => false, :autofocus => false %>
                        </div>
                      </div><!-- form-group -->
                      <div class="form-group">
                        <!-- <label for="country">Country</label> -->
                        <div class="input-group">
                          <!-- <%= text_field_tag :country, '', :class => 'form-control', :placeholder => 'Country', :required => false, :autofocus => false %> -->
                          <%= country_select('user', 'country', { priority_countries: ["CL", "FR"] }, { selected: "CL", class: 'form-control' }) %>
                        </div>
                      </div><!-- form-group -->

                      <h3 id="payment_method">Payment method</h3>

                      <div class="cash">
                        <a href="/boleto.jpg"><img id="boleto" "margin-top: 10px; cursor: pointer; height: 50px; padding-top: 2px; background: url('/pay_near_me_cash.png') no-repeat center" src="/pay_near_me_cash.png" /></a>
                        <a href="http://bitpay.com"><img id="bitpay" "margin-top: 10px; cursor: pointer; height: 50px; padding-top: 2px; background: url('/bitpay.png') no-repeat center" src="/bitpay.png" /></a>
                      </div>

                      <div class="form-group">
                        <!-- <label for="cc_number">Credit Card number</label> -->
                        <div class="input-group">
                          <%= text_field_tag :cc_number, '', :placeholder => 'Credit Card number', :class => 'form-control', :required => true, :autofocus => true, 'x-autocompletetype' => 'cc-number' %>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                      </div><!-- form-group -->
                      <div class="form-group">
                        <!-- <label for="cc_name">Name on card</label> -->
                        <div class="input-group">
                          <%= text_field_tag :cc_name, '', :placeholder => 'Name on card', :class => 'form-control', :required => false, :autofocus => false, 'x-autocompletetype' => 'cc-name' %>
                        </div>
                      </div><!-- form-group -->
                      <div class="row">
                        <div class="col-xs-5 col-md-4">
                          <div class="form-group">
                            <!-- <label for="cc_exp_month">Month</label> -->
                            <%= text_field_tag :cc_exp_month, '', :placeholder => 'Month', :class => 'form-control', :required => true, 'x-autocompletetype' => 'cc-exp-month' %>
                          </div><!-- form-group -->
                        </div><!-- col-xs-5 -->
                        <div class="col-xs-5 col-md-4">
                          <div class="form-group">
                            <!-- <label for="cc_exp_year">Year</label> -->
                            <%= text_field_tag :cc_exp_year, '', :placeholder => 'Year', :class => 'form-control', :required => true, 'x-autocompletetype' => 'cc-exp-year' %>
                          </div><!-- form-group -->
                        </div><!-- col-xs-5 -->
                        <div class="col-xs-5 col-md-4">
                          <div class="form-group">
                            <!-- <label for="cc_verification_value">CVV</label> -->
                            <%= text_field_tag :cc_verification_value, '', :placeholder => 'CVV', :class => 'form-control', :required => true %>
                          </div><!-- form-group -->
                        </div><!-- col-xs-5 -->
                      </div> <!-- row -->

                      <div class="form-group">
                        <!-- Hack for autofill -->
                        <label for="billing_address_1" style="display: none;">Billing address 1</label>
                        <div class="input-group">
                          <%= text_field_tag :billing_address_1, '', :class => 'form-control', :placeholder => 'Billing address 1', :required => false, :autofocus => false, 'x-autocompletetype' => 'address-line1' %>
                        </div>
                      </div><!-- form-group -->
                      <div class="form-group">
                        <!-- <label for="billing_address_2">Billing address 2</label> -->
                        <div class="input-group">
                          <%= text_field_tag :billing_address_2, '', :class => 'form-control', :placeholder => 'Billing address 2', :required => false, :autofocus => false, 'x-autocompletetype' => 'address-line2' %>
                        </div>
                      </div><!-- form-group -->
                      <div class="form-group">
                        <!-- <label for="billing_zip">Billing address zip</label> -->
                        <div class="input-group">
                          <%= text_field_tag :billing_zip, '', :class => 'form-control', :placeholder => 'Billing address zip', :required => false, :autofocus => false, 'x-autocompletetype' => 'postal-code' %>
                        </div>
                      </div><!-- form-group -->
                      <div class="form-group">
                        <!-- <label for="billing_city">Billing city</label> -->
                        <div class="input-group">
                          <%= text_field_tag :billing_city, '', :class => 'form-control', :placeholder => 'Billing address city', :required => false, :autofocus => false, 'x-autocompletetype' => 'city' %>
                        </div>
                      </div><!-- form-group -->
                      <div class="form-group">
                        <!-- <label for="billing_country">Billing country</label> -->
                        <div class="input-group">
                          <!-- ><%= text_field_tag :billing_country, '', :class => 'form-control', :placeholder => 'Billing address country', :required => false, :autofocus => false, 'x-autocompletetype' => 'country' %> -->
                          <%= country_select('billing', 'country', { priority_countries: ["CL", "FR"] }, { selected: "CL", class: 'form-control' }) %>
                        </div>
                      </div><!-- form-group -->

                      <input type="image" src="/pay_near_me_cc.png" alt="Submit Form" />
                    </div><!-- panel-body -->
                  </div><!-- panel -->
                </div><!-- col-xs-12 -->
              </div><!-- row -->
            </div><!-- container -->
          </div><!-- col-md-12 -->
        <% end %>
      </div><!-- modal-body -->
      <div class="modal-footer">
      </div><!-- modal-footer -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- signUpModal -->

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel">Welcome! Customize your profile...</h4>
      </div>
      <div class="modal-body">
        <center>
          <img src="/woman-15.jpg" name="aboutme" border="0" class="img-circle"></a>
          <h3 class="media-heading">Cristina Rodríguez <small>Chile</small></h3>
          <span class="label label-info">Bamboo bombilla</span>
          <span class="label label-info">Calabash gourd</span>
          <span class="label label-warning">No milk</span>
          <span class="label label-success">With sugar</span>
        </center>
        <hr>
        <center>
          <p class="text-left"><strong>Bio: </strong><br>
            Hi! I'm Cristina from Chile!
          </p>
          <br>
        </center>
      </div>
      <div class="modal-footer">
        <center>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close profile</button>
        </center>
      </div>
    </div>
  </div>
</div>

<% unless @cc_accepted.nil? %>
  <%= javascript_tag do %>
    function doUIStuff() {
      if ('true' === '<%= @cc_accepted %>') {
        $('#loginButton').text('Log Out');
        $('#loginButton').attr('href', '/');
        $('#signUpButton').hide();

        $('#ccErrorMsg').hide();
        $('#successModal').modal('show');
      } else {
        $('#successModal').modal('hide');
        $('#ccPanel').hide();
        $('#ccErrorMsg').show();
        $('#signUpModal').modal('show');
      }
    }

    jQuery(document).ready(function($) {
      doUIStuff();
    });
  <% end %>
<% end %>
